.button
    width: 165px
    height: 49px
    border: 0
    border-radius: 13px
    cursor: pointer
    background: $colorButton
    color: $colorTextMain
    font-weight: 600
    &__main
        @media screen and ( max-width: 769px )
            margin-top: 20px
    &__order
        margin-top: 34px
    &__cooperation
        margin-top: 34px
        align-self: end
        background-color: $bgcolor
        color: $colorButton
        border: 2px solid $colorButton
        &:hover
            background: $colorButton
            color: $colorTextMain
        @media screen and ( max-width: 769px )
            background: $colorButton
            color: $colorTextMain
    &__slider
        display: block
        margin: 0 auto
        @media screen and ( max-width: 577px )
            margin-top: 0
    &__form
        grid-column: 1/3
        align-self: center
        width: 293px
        @media screen and ( max-width: 769px )
            width: 278px
    &__contacts
        width: 293px
        @media screen and ( max-width: 1090px )
            width: 250px
    &__footer
        width: 195px
        @media screen and ( max-width: 769px )
            width: 130px
    &__footer__mobile
        margin-top: 40px
        justify-self: center
.button
    animation-duration: 1s
    animation-timing-function: linear
    animation-iteration-count: infinite
    animation-name: huge
    &:hover
        box-shadow: 0px 5px 20px rgba(235, 117, 98, 0.25), 10px 0px 20px rgba(235, 117, 98, 0.25)
@keyframes huge
    from
        transform: scale3d(1, 1, 1)
    50% 
        transform: scale3d(1.02, 1.02, 1.02)
    to 
        transform: scale3d(1, 1, 1)
        
