.cooperation
    padding-top: $pdTop
    background-color: $bgcolor
    &__block
        display: grid
        grid-template-columns: 290px 290px
        grid-column-gap: 90px
        justify-content: center
        justify-items: center
    .arrow_left_cprt,
    .arrow_right_cprt
        justify-self: center
    .parth
        margin-top: 40px
        display: grid
        justify-items: center
        text-align: center
        &__man
            justify-self: center
    .descrpt_cprt
        margin-top: 19px
        font-weight: 600
        font-size: 20px
        line-height: 24px
        color: $colorText