.wash
    padding-top: $pdTop
    display: grid
    grid-auto-flow: column
    grid-column-gap: 50px
    justify-content: center
    align-items: center
    background-color: $bgcolor
    .subtitle
        color: $colorText
        font-size: 2rem
        font-weight: 600
    .video
        // width: 680px
        // height: 503px
        width: 60vw
        height: 70vh
    .description
        &__text
            margin-top: 47px
            font-size: 1.45rem
            font-weight: 500
            color: #337280    
            @media screen and ( max-width: 1090px )
                font-size: 17px
            span
                color: #337280
                font-weight: 900