.wash
    padding-top: $pdTop
    display: grid
    grid-auto-flow: column
    grid-column-gap: 50px
    justify-content: center
    align-items: center
    background-color: $bgcolor
    @media screen and ( max-width: 769px )
        grid-column-gap: 0
        grid-auto-flow: row
    @media screen and ( max-width: 577px )
        justify-items: center
        padding-top: $pdTopMobile
    .video
        width: 50vw
        height: 70vh
        @media screen and ( max-width: 769px )
            width: 450px
            height: 350px
        @media screen and ( max-width: 577px )
            width: 262px
            height: 257px
    .description
        @media screen and ( max-width: 769px )
            text-align: center
        &__text
            margin-top: 47px
            font-size: 1.45rem
            font-weight: 500
            color: #337280    
            @media screen and ( max-width: 1090px )
                font-size: 17px
            @media screen and ( max-width: 769px )
                margin-top: 20px
                margin-left: 15px
                // font-size: .9rem
            span
                color: #337280
                font-weight: 700