<section class="benefits">
    <h2 class="title benefits__title">Преимущества нашей защитной маски</h2>
    <div class="benefits__wrap">
        <div class="wrap__block">
            <img src="assets/img/icons/benefits/icon1.svg" alt="mask" class="block__img">
            <div class="block__text">Мы изготавливаем <br>
                маски из 4-х слойного <br>
                спанбонда </div>
        </div>
        <div class="wrap__block">
            <img src="assets/img/icons/benefits/icon2.svg" alt="sew" class="block__img">
            <div class="block__text">Качественно прошиваем  <br>
                края для многоразового <br>
                использования
                </div>
        </div>
        <div class="wrap__block">
            <img src="assets/img/icons/benefits/icon3.svg" alt="secure" class="block__img">
            <div class="block__text">Маска не теряет своих <br>
                защитных функций <br>
                после стирки </div>
        </div>
        <div class="wrap__block">
            <img src="assets/img/icons/benefits/icon4.svg" alt="sick" class="block__img">
            <div class="block__text">Маска удобна даже <br>
                при длительном <br>
                ношении</div>
        </div>
    </div>
</section>