<section class="contacts">
    <div class="contacts__wrap">
        <div class="contacts__block contacts__block_left">
            <div class="contacts__subtitle">Контакты</div>
            <div class="data">
                    <div class="data__wrap">
                        <div class="data__name">Телефон</div>
                        <div class="data__info">8 (962) 453-99-92</div>
                    </div>
                    <div class="data__wrap">
                        <div class="data__name">E-mail</div>
                        <div class="data__info">art-belenko@yandex.ru</div>
                    </div>
                    <div class="data__wrap">
                        <div class="data__name">Адрес</div>
                        <div class="data__info">Ставрополь</div>
                    </div>
                    <div class="data__wrap">
                        <div class="data__name">Соцсети</div>
                        <img src="assets/img/icons/instagram2.svg" alt="inst" class="data__info data__inst">
                    </div>
            </div>
        </div>
        <div class="contacts__block contacts__block_right">
            <div class="contacts__subtitle subtitle__right">Остались вопросы?</div>
            <div class="contacts__block_right__text">Задайте их нам прямо сейчас !</div>
            <form class="contacts__form" action="">
                <input placeholder="Ваше имя" type="text">
                <input placeholder="Ваш номер телефона" type="text">
                <textarea placeholder="Введите сообщение" type="text"></textarea>
                <button class="button button__contacts">Задать вопрос</button>
            </form>
        </div>
    </div>
</section>