<section class="contacts">
    <div class="contacts__wrap">
        <div class="contacts__block contacts__block_left">
            <div class="contacts__subtitle">Контакты</div>
            <div class="data">
                    <div class="data__wrap">
                        <div class="data__name">Телефон</div>
                        <div class="data__info data__phone"><a href="tel:+79624539992"> 8 (962) 453-99-92 </a></div>
                    </div>
                    <div class="data__wrap">
                        <div class="data__name">E-mail</div>
                        <div class="data__info">maskastav@yandex.ru</div>
                    </div>
                    <div class="data__wrap">
                        <div class="data__name">Адрес</div>
                        <div class="data__info">Ставрополь</div>
                    </div>
                    <div class="data__wrap">
                        <div class="data__name">Соцсети</div>
                        <a href="https://www.instagram.com/maska_stav/?igshid=13ovc52kryftd" class="data__inst"><img src="assets/img/icons/instagram2.svg" alt="inst" class="data__info data__inst"></a>
                    </div>
            </div>
        </div>
        <div class="contacts__block contacts__block_right">
            <div class="contacts__subtitle subtitle__right">Остались вопросы?</div>
            <div class="contacts__block_right__text">Задайте их нам прямо сейчас !</div>
            <form class="contacts__form" method="POST">
                <!-- Hidden Required Fields -->
                <input type="hidden" name="project_name" value="Order">
                <input type="hidden" name="admin_email" value="maskastav@yandex.ru">
                <input type="hidden" name="form_subject" value="Сообщение">
                <!-- END Hidden Required Fields -->
                <input name="Имя_заказчика" placeholder="Ваше имя" type="text">
                <input name="Номер_телефона" placeholder="Ваш номер телефона" type="text">
                <textarea class="textzone" name="Сообщение" placeholder="Введите сообщение" type="text"></textarea>
                <button class="button button__contacts">Задать вопрос</button>
            </form>
        </div>
    </div>
</section>