<section class="cooperation">
    <h2 class="title title__cooperation">Мы сотрудничаем</h2>
    <div class="cooperation__block">
        <img src="assets/img/icons/cooperation/arrow-left.png" alt="arrow_left" class="arrow_left_cprt">
        <img src="assets/img/icons/cooperation/arrow-right.png" alt="arrow_right" class="arrow_right_cprt">
        <div class="parth parth__man_block">
            <img src="assets/img/icons/how_take/man.svg" alt="man" class="parth__man">
            <div class="descrpt_cprt">С частными лицами <br>
                (реализация от 10 штук)
                </div>
            <button class="button button__cooperation">ЗАКАЗАТЬ</button>
        </div>
        <div class="parth parth__people_block">
            <img src="assets/img/icons/cooperation/people.svg" alt="people">
            <div class="descrpt_cprt">С организациями <br>
                (безналичный расчет) </div>
            <button class="button button__cooperation">ЗАКАЗАТЬ</button>
        </div>
    </div>
</section>