<section class="footer">
    <div class="footer__block_logo">
        <div class="footer__logo">
            <img src="assets/img/icons/main/logo.svg" alt="logo" class="logo__img">
            <div class="logo__title">Защитные маски <br>
                Ставрополь</div>
        </div>
        <div class="footer__rights">
            2020 © Защитные маски <br> 
            Ставрополь <br>
            Все права защищены
        </div>
    </div>
    <div class="footer__block_menu">
            <nav class="footer__menu menu">
                <div class="footer__menu__block menu__block"><a href="#benefits" class="footer__menu__link menu__link">Преимущества</a></div>
                <div class="footer__menu__block menu__block"><a href="#photo" class="footer__menu__link menu__link">Фото</a></div>
                <div class="footer__menu__block menu__block"><a href="#use" class="footer__menu__link menu__link">Использование</a></div>
                <div class="footer__menu__block menu__block"><a href="#order" class="footer__menu__link menu__link">Заказать</a></div>
            </nav>
            <div class="paymenths">
                <img src="assets/img/icons/footer/visa.png" alt="visa" class="img_visa">
                <img src="assets/img/icons/footer/mscard.png" alt="master card" class="img_mscard">
                <img src="assets/img/icons/footer/mir.png" alt="mir" class="img_mir">
            </div>
    </div>
    <div class="footer__block_connect">
            <button class="button button__footer">ЗАКАЗАТЬ</button>
            <img src="assets/img/icons/main/inst.svg" alt="instagramm" class="connect__inst">
            <div class="connect__phone">
                <img src="assets/img/icons/main/phone.svg" alt="phone" class="connect__phone-img">
                <a href="tel:+79624539992"> 8 (962) 453-99-92 </ a>
            </div>
    </div>
</section>