<section class="form">
        <h2 class="title" id="order">Оформление заказа</h2>
        <div class="form__subtitle">Минимальное количетсво масок в заказе должно быть 10 штук </div>
        <form class="checkout" action="">
            <div class="large_input">
                <input type="text" placeholder="Ваше имя">
                <input type="text" placeholder="Ваш телефон">
                <input type="text" placeholder="Ваш email">
                <input type="text" placeholder="Название улицы">
            </div>
            <div class="small_input">
                <input type="text" placeholder="Номер дома">
                <input type="text" placeholder="Подъезд">
                <input type="text" placeholder="Корпус">
                <input type="text" placeholder="Квартира">
                <input type="text" class="amount_mask" placeholder="Количество масок">
                <button type="submit" class="button button__form">ЗАКАЗАТЬ</button>
            </div>
        </form>
</section>