<section class="form">
        <h2 class="title" id="order">Оформление заказа</h2>
        <div class="form__subtitle">Минимальное количетсво масок в заказе должно быть 10 штук </div>
        <form name="order" class="checkout" method="POST" action="">
            <div class="large_input">
                <!-- Hidden Required Fields -->
                <input type="hidden" name="project_name" value="Project">
                <input type="hidden" name="admin_email" value="televonvea@gmail.com">
                <input type="hidden" name="form_subject" value="Форма заказа">
		        <!-- END Hidden Required Fields -->
                <input name="Имя заказчика" type="text" placeholder="Ваше имя">
                <input name="Телефон" type="text" placeholder="Ваш телефон">
                <input class="amount_mask" name="Количество" type="text" placeholder="Количество масок">
                <input class="amount_mask large_input_color" placeholder="Белый"  disabled type="text">
                <div class="large__price">
                    <span>Цена</span>
                    <span class="large__cost">100₽</span>
                    <span class="large__amount">1 шт</span>
                </div>
            </div>
            <div class="small_input">
                <input name="Улица" type="text" placeholder="Название улицы">
                <input name="Номер дома" type="text" placeholder="Номер дома">
                <input name="Подъезд" type="text" placeholder="Подъезд">
                <input class="amount_mask" placeholder="Белый" disabled type="text">
                <button onclick="ym(61690594,'reachGoal','order'); return true;" type="submit" class="button button__form">ЗАКАЗАТЬ</button>
            </div>
        </form>
</section>