<section class="form">
        <h2 class="title" id="order">Оформление заказа</h2>
        <div class="form__subtitle">Минимальное количетсво масок в заказе должно быть 10 штук </div>
        <form class="checkout" action="">
            <div class="large_input">
                <input type="text" placeholder="Ваше имя">
                <input type="text" placeholder="Ваш телефон">
                <input type="text" placeholder="Количество масок">
                <input type="text" class="large_input_color amount_mask" placeholder="Выбрать цвет">
                <div class="large__price">
                    <span>Цена</span>
                    <span class="large__cost">100₽</span>
                    <span class="large__amount">1 шт</span>
                </div>
            </div>
            <div class="small_input">
                <input type="text" placeholder="Название улицы">
                <input type="text" placeholder="Номер дома">
                <input type="text" placeholder="Подъезд">
                <input type="text" class="amount_mask" placeholder="Выбрать цвет">
                <button type="submit" class="button button__form">ЗАКАЗАТЬ</button>
            </div>
        </form>
</section>