<section class="take take__indvd">
    <h2 class="title">Как получить маску физическому лицу</h2>
    <div class="take__wrap">
        <div class="block">
            <img src="assets/img/icons/how_take/file.svg" alt="file" class="take__img">
            <div class="take__descr take__indvd">Оформление заказа <br> (от 10 штук) <br> и оплата
            </div>
        </div>
        <div class="block">
            <img src="assets/img/icons/how_take/delivery.svg" alt="car" class="take__img">
            <div class="take__descr take__indvd">Бесплатная доставка <br>
                прямо к вашему <br>
                дому   </div>
        </div>
        <div class="block">
            <img src="assets/img/icons/how_take/man.svg" alt="man" class="take__img">
            <div class="take__descr take__indvd">Вы находитесь <br> под защитой <br> от эпидемии</div>
        </div>
    </div>
</section>