<section class="take">
    <h2 class="title">Как получить маску юридическом лицу</h2>
    <div class="take__wrap">
        <div class="block">
            <img src="assets/img/icons/how_take/file.svg" alt="file" class="take__img">
            <div class="take__descr">Оформление <br>
            заказа
            </div>
        </div>
        <div class="block">
            <img src="assets/img/icons/benefits/cards.svg" alt="cards" class="take__img">
            <div class="take__descr">Выставление <br>
                и оплата счета </div>
        </div>
        <div class="block">
            <img src="assets/img/icons/how_take/delivery.svg" alt="car" class="take__img">
            <div class="take__descr">Бесплатная доставка <br>
                к офису или дому  </div>
        </div>
    </div>
</section>