<section class="main">
    <header class="header">
        <div class="logo">
            <img src="assets/img/icons/main/logo.svg" alt="logo" class="logo__img">
            <div class="logo__title">Дома <br> хорошо</div>
        </div>
        <nav class="menu">
            <div class="menu__block"><a href="" class="menu__link">О масках</a></div>
            <div class="menu__block"><a href="" class="menu__link">Цена</a></div>
            <div class="menu__block"><a href="" class="menu__link">Преимущества</a></div>
            <div class="menu__block"><a href="" class="menu__link">Доставка</a></div>
            <div class="menu__block"><a href="" class="menu__link">Отзывы</a></div>

        </nav>
        <div class="connect">
            <img src="assets/img/icons/main/inst.svg" alt="instagramm" class="connect__inst">
            <div class="connect__phone">
                <img src="assets/img/icons/main/phone.svg" alt="phone" class="connect__phone-img">
                8 (962) 453-99-92
            </div>
        </div>
    </header>
    <div class="base">
        <div class="base__text">
            <h1 class="main_title">Многоразовые защитные <br>
                маски помогут победить <br>
                бактерии и вирусы</h1>
            <h2 class="main_subtitle">Бесплатно доставим к дверям вашего <br>
                дома при заказе от 10 штук </h2>
            <button class="button main__button">ЗАКАЗАТЬ</button>
        </div>
        <div class="base__imgs">
            <img src="assets/img/maska.png" alt="mask" class="base__mask">
            <img src="assets/img/icons/main/virus1.png" alt="virus1" class="base__virus base__virus_1">
            <img src="assets/img/icons/main/virus2.png" alt="virus2" class="base__virus base__virus_2">
            <img src="assets/img/icons/main/virus3.png" alt="virus3" class="base__virus base__virus_3">
            <img src="assets/img/icons/main/virus4.png" alt="virus4" class="base__virus base__virus_4">
            <img src="assets/img/icons/main/virus5.png" alt="virus5" class="base__virus base__virus_5">
            <img src="assets/img/icons/main/virus6.png" alt="virus6" class="base__virus base__virus_6">
        </div>
    </div>
</section>