<section class="main">
    <header class="header">
        <div class="logo">
            <img src="assets/img/icons/main/logo.svg" alt="logo" class="logo__img">
            <div class="logo__title">Защитные маски <br>
                Ставрополь</div>
        </div>
        <div class="main__burger"><span></span></div>
        <nav class="menu main__menu">
            <div class="menu__block"><a href="#benefits" class="menu__link">Преимущества</a></div>
            <div class="menu__block"><a href="#photo" class="menu__link">Фото</a></div>
            <div class="menu__block"><a href="#use" class="menu__link">Использование</a></div>
            <div class="menu__block"><a href="#order" class="menu__link">Заказать</a></div>
        </nav>
        <div class="connect">
            <a class="a__inst" href="#"><img src="assets/img/icons/main/inst.svg" alt="instagramm" class="connect__inst"></a>
            <div class="connect__phone">
                <img src="assets/img/icons/main/phone.svg" alt="phone" class="connect__phone-img">
                <a href="tel:+79624539992"> 8 (962) 453-99-92 </a>
            </div>
        </div>
    </header>
    <div class="base">
        <div class="base__text">
            <h1 class="main_title">Многоразовые защитные <br>
                маски помогут победить <br>
                бактерии и вирусы</h1>
            <h2 class="main_subtitle">Бесплатная  доставка прямо к вашему <br>
                дому при заказе от 10 штук </h2>
            <button class="button button__main">ЗАКАЗАТЬ</button>
        </div>
        <div class="base__imgs">
            <img src="assets/img/mask.svg" alt="mask" class="base__mask">
            <div class="viruses">
                <img src="assets/img/icons/main/virus_red.svg" alt="virus1" class="base__virus base__virus_1">
                <img src="assets/img/icons/main/virus2.png" alt="virus2" class="base__virus base__virus_2">
                <img src="assets/img/icons/main/virus_red.svg" alt="virus3" class="base__virus base__virus_3">
                <img src="assets/img/icons/main/virus4.png" alt="virus4" class="base__virus base__virus_4">
                <img src="assets/img/icons/main/virus_red.svg" alt="virus5" class="base__virus base__virus_5">
                <img src="assets/img/icons/main/virus6.png" alt="virus6" class="base__virus base__virus_6">
            </div>
        </div>
    </div>
    <img src="assets/img/icons/main/arrow_down.svg" alt="arrow_down" class="main__arrow_down">
</section>