<section class="rules">
    <h2 class="title" id="use">Правила использования</h2>
    <div class="terms-of-usage">
        <div class="mask">
            <img src="assets/img/icons/rules/mask.svg" alt="mask" class="rules__img mask__img">
            <div class="mask__text">Надеть <br>
                чистую маску</div>
        </div>
        <img src="assets/img/icons/rules/arrow_left.png" alt="arrow-left" class="rules__arrow arrow-left">
        <img src="assets/img/icons/rules/arrow_right.png" alt="arrow_right" class="rules__arrow arrow-right">
        <div class="iron">
            <img src="assets/img/icons/rules/iron.svg" alt="iron" class="rules__img iron__img">
            <div class="iron__text"> Отутюжить <br>
                через марлю</div>
        </div>
        <div class="watch">
            <img src="assets/img/icons/rules/watch.svg" alt="watch" class="rules__img watch__img">
            <div class="watch__text">Носить маску  <br>
                2 часа</div>
        </div>
        <img src="assets/img/icons/rules/arrow_up_left.png" alt="arrow-up-left" class="rules__arrow arrow-up-left">
        <img src="assets/img/icons/rules/arrow_up_right1.png" alt="arrow-up-right" class="rules__arrow arrow-up-right">
        <div class="hand">
            <img src="assets/img/icons/rules/hand.svg" alt="hand" class="rules__img hand__img">
            <div class="hand__text">Постирать <br>
                руками, высушить </div>
        </div>
    </div>
</section>