<section class="slider">
    <h2 class="title" id="photo">Как выглядит маска</h2>
    <div class="slider__block">
        <div class="slider__item">
            <img class="slider__search" src="assets/img/icons/slider/search.svg" alt="search">
            <button class="button button__slider">Посмотреть</button>
        </div>
        <!-- <div class="slider__item"><img src="https://cdn.pixabay.com/photo/2020/03/27/17/03/shopping-4974313_960_720.jpg" alt=""></div>
        <div class="slider__item"><img src="https://cdn.pixabay.com/photo/2020/03/27/17/03/shopping-4974313_960_720.jpg" alt=""></div>
        <div class="slider__item"><img src="https://cdn.pixabay.com/photo/2020/03/27/17/03/shopping-4974313_960_720.jpg" alt=""></div> -->
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</section>