<section class="wash">
    <video width="680" height="503" poster="https://s11.stc.all.kpcdn.net/share/i/12/11252716/inx960x640.jpg" src="" class="video"></video>
    <div class="description">
        <h2 class="title title__wash">Как стирать маску </h2>
        <div class="description__text">
            В этом видео мы наглядно <br> показываем процесс стирки <br> защитной маски. <br> <br>
            После просмотра у вас <br>
            не останется вопросов <br>
            по этому поводу! <br> <br>
            <span>Важный момент:</span> стирать <br> маску можно только вручную!

        </div>
    </div>
</section>