*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Montserrat', sans-serif
@media screen and ( max-width: 1270px  )
    html
        font-size: 15px
    
@import 'vars'
@import 'mixins'
@import 'blocks/main_screen'
@import 'blocks/buttons'
@import 'blocks/titles'
@import 'blocks/benefits'
@import 'blocks/order'
@import 'blocks/rules'
@import 'blocks/wash'
@import 'blocks/cooperation'